@model CNPMBuoi5.Models.VIETSACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VIETSACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vaitro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaitro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH1.Tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH1.Tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TACGIA.TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TACGIA.TenTG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
