@model IEnumerable<CNPMBuoi5.Models.VIETSACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vaitro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SACH1.Tensach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TACGIA.TenTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vaitro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SACH1.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TACGIA.TenTG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
