@model CNPMBuoi5.Models.CTTHAMDO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTTHAMDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Noidungtraloi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidungtraloi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solanbinhchon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solanbinhchon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THAMDO.Noidungthamdo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THAMDO.Noidungthamdo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
