@model CNPMBuoi5.Models.THAMDO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THAMDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ngaydang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noidungthamdo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noidungthamdo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tongsobinhchon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tongsobinhchon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
