@model CNPMBuoi5.Models.QUANGCAO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUANGCAO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhminhhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhminhhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Href)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Href)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaybatdau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaybatdau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngayhethan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngayhethan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.STT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
